@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p><strong>EnvironmentName: </strong>@ViewBag.EnviromentName</p>
        <p><strong>VariableToOverride: </strong>@ViewBag.VariableToOverride</p>
        <p><strong>SecretConnectionString: </strong>@ViewBag.SecretConnectionString</p>
    </div>
